page-home {

}

#Pression{
	background-image: url(../assets/imgs/Tireuse.jpg);
}

#Bouteilles{
	background-image: url(../assets/imgs/bouteille.jpeg);
}
ion-slide{
  	color: white;
  	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-position: center center;
  	font-family: Georgia, serif;
	
}